<div class="container-fluid fondo">
  <div class="row d-flex justify-content-center">
    <div class="col logo">
    </div>
  </div>
  <div class="row">
    <div class="col hackerPic"></div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <div class="pantallaExt">
        <div class="pantallaInt">
          <app-intro1></app-intro1>
          <app-intro2></app-intro2>
          <app-intro3></app-intro3>
          <app-intro1></app-intro1>
          <app-intro1></app-intro1>
          <app-intro1></app-intro1>
        </div>
      </div>
    </div>
  </div>
</div>
